---
import Layout from '@layouts/Layout.astro'
---

<Layout title='Pagina no encontrada'>
	<section class='bg-white dark:bg-gray-900'>
		<div class='py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6'>
			<div class='mx-auto max-w-screen-sm text-center'>
				<h1 class='mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-brand-600 dark:text-brand-500'>404</h1>
				<p class='mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white'>Pagina no encontrada</p>
				<p class='mb-4 text-lg font-light text-gray-500 dark:text-gray-400'>
					Lo sentimos, no podemos encontrar esa página. Encontrará mucho que explorar en la página de inicio.
				</p>
				<a
					href='/'
					class='flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto hover:bg-gray-100 hover:cursor-pointer'
				>
					Regresar al inicio
				</a>
			</div>
		</div>
	</section>
</Layout>
