---
import Layout from '@layouts/Layout.astro'
---

<Layout title='Pagina no encontrada'>
	<section>
		<div class='py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6'>
			<div class='mx-auto max-w-screen-sm text-center'>
				<h1 class='mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-brand-500'>404</h1>
				<p class='mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl'>Pagina no encontrada</p>
				<p class='mb-4 text-lg font-light text-gray-500'>
					Lo sentimos, esta página no existe. Encontrará mucho que explorar en la página de inicio.
				</p>
				<a
					href='/'
					class='flex items-center justify-center px-5 py-2 text-sm text-white transition-colors duration-200 bg-brand-500 border rounded-lg gap-x-2 w-auto hover:bg-brand-400 hover:cursor-pointer'
				>
					Regresar al inicio
				</a>
			</div>
		</div>
	</section>
</Layout>
