---
import LinkButton from '@components/LinkButton.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Inicio'>
	<main class='py-4'>
		<h1 class='text-black dark:text-white'></h1>

		<div class='grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4'>
			<LinkButton
				href='/uuid-generator'
				title='Generador UUID'
				description='Genera un UUID Versión 4, este es un identificador único universal que se genera utilizando números aleatorios.'
			/>

			<LinkButton
				href='/slug-generator'
				title='Generador de slug'
				description='Genera slugs SEO-friendly a partir de títulos o cualquier otra cadena para tus páginas web o entradas de blog'
			/>
		</div>
	</main>
</Layout>
