---
export interface Props {
	href: string
	label: string
}

const { href, label } = Astro.props
---

<a
	href={href}
	class:list={[
		'flex items-center md:w-auto justify-center gap-2 rounded-2xl border border-transparent transition-all min-h-[50px] px-5 py-4 text-xl duration-300 w-full',
		'md:px-4 md:py-2 md:text-base',
		'hover:bg-brand-gray/10 hover:border-brand-gray/20'
	]}
>
	{label}
</a>
