---
import Share from '@/icons/share.astro'
import X from '@/icons/x.astro'
---

<script>
	import { $ } from '@/lib/dom-selector'
	import { generateShareUrl } from '@/lib/generate-share-url'

	document.addEventListener('astro:page-load', () => {
		const url = window.location.href
		const text = document.title
		const twitterUrl = generateShareUrl({ text, url, image: url })

		const share = $('#share')
		if (share) share!.setAttribute('href', twitterUrl)
	})
</script>

<a
	id='share'
	target='_blank'
	rel='noopener noreferrer'
	class:list={[
		'fixed z-50 flex space-x-2 justify-center items-center',
		'bg-white shadow-md shadow-gray-400 text-gray-600 text-sm font-medium px-4 py-3 border border-gray-200 rounded-full  transition-all duration-300',
		'bottom-1 left-1/2 transform -translate-x-2/4 -translate-y-1/2 w-full max-w-52',
		'hover:bg-gray-100 active:scale-[0.95] '
	]}
>
	<span>Comparte el artículo</span>
	<X class='w-3 h-3' />
</a>
