---
export interface Props {
  title: string
  date: Date
  tags: string[]
  slug: string
}

const { title, date, tags, slug } = Astro.props
---

<a href={`/blog/${slug}`}>
  <article
    class='group w-full mt-6 bg-white rounded-lg border hover:scale-[1.01] transition-all dark:border-gray-800 dark:bg-gray-900 dark:hover:border-gray-600'
  >
    <div class='p-4 sm:p-6'>
      <time
        datetime='2022-10-10'
        class='block text-xs text-gray-500 dark:text-gray-400'
      >
        {
          date.toLocaleDateString('es-MX', {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          })
        }
      </time>

      <h3 class='mt-0.5 text-lg font-medium text-gray-900 dark:text-gray-200'>
        {title}
      </h3>

      <div class='mt-4 flex flex-wrap gap-1'>
        {
          tags.map((tag) => (
            <span class='whitespace-nowrap rounded-full bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-600'>
              {tag}
            </span>
          ))
        }
      </div>
    </div>
  </article>
</a>
