---
export interface Props {
	title: string
	description: string
	href: string
}

const { title, description, href } = Astro.props
---

<a href={href} class='group flex flex-col items-start gap-2 p-4 rounded-lg border-2 hover:border-primary h-full max-h-40'>
	<span class='group-hover:text-primary text-lg font-sans font-bold'>{title}</span>
	<span class='group-hover:text-primary text-sm font-sans line-clamp-3'>{description}</span>
</a>
