---
import ButtonLink from './ButtonLink.astro'
import Logo from '../../public/favicon.svg'
import XLogo from '../../public/images/icons/x.svg'
import GithubLogo from '../../public/images/icons/github.svg'
---

<script is:inline>
	function initNavbar() {
		const button = document.querySelector('#navbar-menu-toggle')
		const menu = document.querySelector('#navbar-menu')

		if (button && menu) {
			button.addEventListener('click', () => {
				const expanded = button.getAttribute('aria-expanded')

				if (expanded === null) {
					button.setAttribute('aria-expanded', '')
					menu.setAttribute('data-open', '')
				} else {
					button.removeAttribute('aria-expanded')
					menu.removeAttribute('data-open')
				}
			})
		}
	}

	initNavbar()

	document.addEventListener('astro:page-load', () => {
		initNavbar()
	})
</script>

<header class='header-animate backdrop-blur-[10px] w-full max-w-5xl m-auto mb-10 overflow-visible z-[99999] py-6'>
	<div
		class='grid items-center justify-center md:justify-normal w-full grid-cols-[auto_1fr] mx-auto text-gray-700 gap-x-10 md:flex max-w-screen-full'
	>
		<div class='md:flex-grow md:basis-0 flex justify-start'>
			<a href='/' class='ml-4 flex items-center gap-2.5 font-bold transition-transform duration-300 hover:scale-110'>
				<Logo class='h-9 w-auto' />
				<span class='hidden lg:block text-3xl font-monserrat'>frxndev</span>
			</a>
		</div>

		<nav
			class='col-span-full overflow-x-auto row-[2/3] grid grid-rows-[0fr] transition-[grid-template-rows] data-[open]:grid-rows-[1fr] md:justify-center md:flex group/nav'
			id='navbar-menu'
		>
			<ul class='flex flex-col items-center overflow-x-hidden overflow-y-hidden md:flex-row gap-x-2'>
				<li class='flex justify-center w-full first:mt-5 md:first:mt-0 md:block md:w-auto'>
					<ButtonLink href='/' label='Inicio' />
				</li>
				<li class='flex justify-center w-full first:mt-5 md:first:mt-0 md:block md:w-auto'>
					<ButtonLink href='/' label='Portfolio' />
				</li>
				<li class='flex justify-center w-full first:mt-5 md:first:mt-0 md:block md:w-auto'>
					<ButtonLink href='/blog' label='Blog' />
				</li>
			</ul>
		</nav>

		<div class='flex md:flex-grow md:basis-0 items-center gap-4 mr-4 ml-auto md:ml-0 justify-end'>
			<a
				href='https://twitter.com/frxndev'
				target='_blank'
				class='block text-slate-400 hover:text-[#1da1f2] transition-colors'
				aria-label='Twitter profile'
			>
				<XLogo class='w-5 h-5' />
			</a>
			<a
				href='https://github.com/frxndev'
				target='_blank'
				class='ml-6 block text-slate-400 hover:text-slate-600 transition-colors'
				aria-label='Github profile'
			>
				<GithubLogo class='w-5 h-5' />
			</a>
			<!-- aria-expanded -->
			<button
				class='flex items-center justify-center py-2 md:hidden group'
				id='navbar-menu-toggle'
				aria-controls='navbar-menu'
				title='Mostrar Menú'
				aria-label='Mostrar menú'
			>
				<div class='flex items-center justify-center p-2 cursor-pointer'>
					<div class='space-y-2'>
						<span
							class='block h-0.5 w-8 origin-center rounded-full bg-black/80 transition-transform ease-in-out group-aria-[expanded]:translate-y-[5px] group-aria-[expanded]:rotate-45'
						></span>
						<span
							class='block h-0.5 w-8 origin-center rounded-full bg-black/80 transition-transform ease-in-out group-aria-[expanded]:-translate-y-[5px] group-aria-[expanded]:-rotate-45'
						></span>
					</div>
				</div>
			</button>
		</div>
	</div>
</header>
